body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-image: url('images.jfif'); /* Change 'background.jpg' to your actual image path */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#shopping-cart-form {
     display: flex; 
    justify-content: flex-end;
     flex-direction: column; 
}

.form-group {
    margin-bottom: 15px;
    display: flex; 
    /* flex-direction: column; */
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}